.calculator {
    width: 300px;
    margin: auto;
    margin: 5px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 500px rgba(0, 0, 0, 0.1);

}

.calculator input[type="text"] {
    width: calc(90%);
    height: 50px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
}

.calculator input[type="button"] {
    width: 80px;
    height: 50px;
    margin: 5px;
    font-size: 20px;


}